.Members,
.About {
  display: flex;
  text-align: center;
  background-color: #15803d;
  height: auto;
  color: white;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
}

.Team {
  display: flex;
  text-align: center;
  height: 20vh;
  color: black;
  flex-direction: column;
  justify-content: center;
}

.Title {
  font-size: 30px;
  font-weight: bolder;
  padding: 20px 0px 20px 0px;
}

.Text {
  font-size: 18px;
  padding: 0px 100px;
  color: #dcfce7;
}
