.Home {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

h2 {
  font-size: 80px;
  font-weight: bolder;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h4 {
  font-size: 28px;
  position: absolute;
  top: 30%;
  left: 23%;
}

.imgBox {
  width: 100%;
  height: 100%;
  background-image: url("../images/homephoto.jpeg");
  background-position: center;
  background-size: cover;
  background-color: black;
}

img {
  opacity: 0.6;
  width: 100%;
}

.submit {
  color: white;
  background: #04aa6d;
  height: 60px;
  font-size: 22px;
  width: 140px;
  position: absolute;
  top: 50%;
  left: 23%;
  border-radius: 20px;
}

.button2 {
  height: 60px;
  background: #04aa6d;
  width: 140px;
  position: absolute;
  top: 50%;
  left: 63%;
  border-radius: 20px;
}

.button2:hover {
  background: white;
  color: #04aa6d;
}

.Home2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 40px 0px 40px 0px;
  flex-direction: column;
}

.Home3 {
  width: 100%;
  height: 50vh;
  background: #bee7a5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px 0px 0px 0px;
}

.BoxContainer {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Box1 {
  font-size: 20px;
  width: 30%;
  height: 100%;
  font-size: 20px;
  display: flex;
  text-align: right;
  justify-content: right;
  align-items: center;
}

.Box2 {
  width: 45%;
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.Box3 {
  width: 100%;
  height: 45%;
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.Title {
  font-size: 100px;
  color: #04aa6d;
}

p {
  font-size: 40px;
  padding: 40px;
}

.impactContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.impactContainerBox {
  width: 30%;
  height: 50vh;
  background: rgb(220, 220, 220, 0.8);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.email {
  padding: 20px 0px 20px 0px;
  width: 100%;
  background: grey;
  height: auto;
}

.email input {
  margin: 20px 0px 0px 0px;
  border-radius: 10px;
  height: 3rem;
  width: 20rem;
  font-size: 20px;
}

.email form {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
